.logophoto{
    height: 40px;
}

.topfour{
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(16, 27, 51);
    font-family: 'Courier New', Courier, monospace;
    flex: 1,1,auto;
}

h1{
    font-weight: bold;
    margin-right: 60%;
}

h1,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo,.top{
    margin-left: 10%;
}
.logo ,.random ,.crumbs ul{ 
    display: flex;
  
}


.top{
    display: flex;
    align-items: center;
    
}
.top div{
    
    flex: 1,1,auto;
    
}
ul{
    list-style: none;
}




.topphoto{
    margin-left: 10px;  
    height: 300px;
    border-radius: 10%;
   
}




#middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(77, 69, 69);
    
    font-family: 'Courier New', Courier, monospace;
    flex: 1,1,auto;
}


.random div {
    border-radius: 10%;
  }


.one{
    margin: 5%;
  }
  img{
   height: 200px;
    border-radius: 10%;
}


.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#bottom .myword{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5%;
    font-style: italic;
    padding-left: 20%;
    padding-right: 20%;
    background: rgb(198, 193, 203);
}
.thatman{
    font-weight: bold;
   
}



.end{
    color: wheat;
    display: flex;
    background: #188cdf;
    align-items: center;
    padding: 2%;
   margin: 5%;
   border-radius:20px ;
}
.end div{
    flex: 1 1 auto;
}
.secbut  button{
   
    border-color: wheat;
    margin-left: 10%;

}


button{
    height: 40px;
    width: 80px;
    border-radius: 12%;
    color: wheat;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     border-color: #188cdf;
     background: #188cdf
 }


 .copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
    background: #191d1f;
    margin-top: 5%;
    padding: 5%;
 }